<h1>Все петиции</h1>
<table class="table table-striped">
  <tr>
    <th>Петиция</th>
    <th>Автор</th>
    <th>Дата создания</th>
  </tr>

  <% @petitions.each do |petition| %>
      <tr>
        <td><%= link_to petition.title, petition_path(petition) %></td>
        <td><%= petition.author %></td>
        <td><%= petition.created_at.strftime("%d/%m/%Y %H:%M")%></td>
      </tr>
  <% end %>
</table>